@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap%27');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sidebar {
    position: fixed;
    width: 240px;
    left: -240px;
}