body {
    background-color: white;
    
}
header {
    width: 100%;
    background-color: palevioletred;
    height: 80px;
    float: left

}
img.logo {
    padding: 10px
}

 .corpo > div.sobre {
    align-items: left;
    text-align: left;
}
 .corpo > div.discordframe {
    text-align: right;
    align-items: right;
 }
.texto {
    align-items: center;
    text-align: center;
}