body {
    background-color: white;
    
}
header {
    width: 100%;
    background-color: palevioletred;
    height: 80px;
    float: left

}
img.logo {
    padding: 10px
}
.discordframe {
    padding: 10px;
    text-align: right;
    align-items: right;
}
 b {
    font-family: 'Roboto Condensed', sans-serif;
}
.sobre {
    background-color: pink;
    align-items: center;
    text-align: center;
}
.texto {
    align-items: center;
    text-align: center;
}