body {
    background-color: rgb(240, 158, 172);
    
}
header {
    width: 100%;
    background-color: palevioletred;
    height: 80px;
    float: left

}
img.logo {
    padding: 10px
}
.corpo {
    background-color: pink;
    box-sizing: border-box;
    padding: 10px, 10px, 10px, 10px
}
 .corpo > div.sobre {
    align-items: left;
    text-align: left;
}
 .corpo > div.discordframe {
    text-align: right;
    align-items: right;
    float: right
 }
.texto {
    align-items: center;
    text-align: center;
}